*{
    margin: 0;
    padding: 0;
    font-family: 'Poppins', sans-serif;
    box-sizing: border-box;
}
html, body{
    overflow: hidden;
} 
.background{
    background: linear-gradient(135deg, rgb(28, 151, 233), #ff5945);
    width: 100%;
    min-height: 100vh;
    padding: 10px;
}
.todo-app{
    width: 100%;
    max-width: 540px;
    background: #fff;
    margin: 100px auto 20px;
    padding: 40px 30px 70px;
    border-radius: 10px;
}
.todo-app h2 {
    color: #002765;
    display: flex;
    align-items: center;
    margin-bottom: 20px;
}
.row{
    display: flex;
    align-items: center;
    justify-content: space-between;
    background: #edeef0;
    border-radius: 30px;
    padding-left: 20px;
    margin-bottom: 25px;
}
input{
    flex: 1;
    border: none;
    outline: none;
    background: transparent;
    padding: 10px;
}
button{
    border: none;
    outline: none;
    padding: 16px 35px;
    background: #ff5945;
    color: #fff;
    font-size: 16px;
    cursor: pointer;
    border-radius: 40px;
}
ul li{
    list-style: none;
    font-size: 17px;
    padding: 12px 25px 12px 30px;
    user-select: none;
    cursor: pointer;
    position: relative;
    word-wrap: break-word;

}
ul li::before{
    content: '';
    position: absolute;
    height: 21px;
    width: 21px;
    border-radius: 50%;
    background-image: url(./images/unchecked.png);
    background-size: cover;
    background-position: center;
    top: 12px;
    left: 2px;
}
ul li.checked{
    color: #555;
    text-decoration: line-through;
}
ul li.checked::before{
    background-image: url(./images/checked.png);

}
ul li span{
    position: absolute;
    right: -10px;
    top: 5px;
    width: 40px;
    height: 40px;
    font-size: 22px;
    color: #555;
    line-height: 42px;
    text-align: center;
    border-radius: 50%;
}
ul li span:hover{
    background: #edeef0;
}
@media all and (max-width:599px){
    input, select, textarea{
        font-size: 16px;
    }
    .row{
        padding-left: 10px;
    }
}
@media all and (max-width:370px){
    input{
        min-width: 100px;
    }
    .row{
        padding-left: 0;
    }
    button {
        padding: 12px 15px;
    }
    .todo-app{
        padding: 40px 20px 70px;
    }
}